Host nyuad-discourse
  HostName=167.99.212.117
  User=root

Host pg36
  HostName=192-168-0-19.pg36.picogrid
  User=pg

Host pg34-jetson
  HostName=10-11-12-2.pg34.picogrid
  User=pg

Host pg25-jetson
  HostName=10-11-12-2.pg25.picogrid
  User=pg

Host pg43-jetson
  HostName=10-11-12-2.pg43.picogrid
  User=pg
